exportPattern("^[[:alpha:]]+")
useDynLib("NSM3", .registration = TRUE)
S3method(print,NSM3Ch5c)
S3method(print,NSM3Ch5p)
S3method(print,NSM3Ch6c)
S3method(print,NSM3Ch6p)
S3method(print,NSM3Ch7c)
S3method(print,NSM3Ch7p)
S3method(print,NSM3Ch6MCc)
S3method(print,NSM3Ch6MCp)
S3method(print,NSM3Ch7MCc)
S3method(print,NSM3Ch7MCp)
S3method(print,NSM3Ch9ChickFn)
importFrom(agricolae,waerden.test)
import(ash)
import(binom)
import(BSDA)
importFrom(coin,wilcox_test)
import(combinat)
importFrom(fANCOVA,loess.as)
import(gtools)
importFrom(Hmisc,hoeffd)
import(km.ci)
import(MASS)
import(metafor)
import(nortest)
importFrom(np,npreg)
import(partitions)
importFrom(quantreg,akj)
importFrom(Rfit,drop.test)
import(SuppDists)
import(survival)
import(waveslim)
importFrom("graphics", "abline", "hist", "legend", "lines", "plot")
importFrom("stats", "ansari.test", "complete.cases", "cor.test",
       "dnorm", "ecdf", "integrate", "kruskal.test", "ks.test",
       "lm", "median", "pchisq", "pexp", "pnorm", "qchisq",
       "qnorm", "rbeta", "rexp", "runif", "splinefun", "stepfun",
       "terms", "var", "wilcox.test")